.container {
    width: 80%;
    margin: 0 auto;
}
/* Tùy chỉnh kiểu dáng cho màn hình nhỏ */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}


.question_container{

    border-radius: 16px;
    backdrop-filter: blur(15px);
    background-color: #0000001f;
    border: 1px solid #e762ff;
    padding: 4vh;
    box-shadow: 0 0 4px #fff, 0 0 10px #f09;
}

.font {
    line-height: 1.7;
    font-size: 1.5em;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 4px #fff, 0 0 13px #f09;
    white-space: pre-wrap; /* Cho phép xuống dòng */
}

.quiz{
    margin-top: 10vh;
}

.btn_container{
    top: 0;
    margin-top: 30vh;
    margin-left: 10vh;
    position: absolute;
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
    flex-direction: column; /* Đặt hướng của flexbox thành cột */

}

.btn{

    margin-top: 4vh;
    margin-left: 2vh;
    font-size: 1em;
    padding: 5px;
    background-color: #0000002b;
    color: #fae1ff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #89708b;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
    transform: scale(1.05);
}