.answer_contaier{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
    gap: 10px; /* Khoảng cách giữa các ô */
    margin-top: 2vh;

  }

  .answer_contaier ul {
    list-style-type: none;
    padding: 0;
}

.answer_contaier ul li {
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid #ffffff78;
    padding: 10px;
    margin: 10px 0;
    margin-top: 3vh;
    backdrop-filter: blur(15px);
    background-color: #0000001f;
    cursor: pointer;
    line-height: 1.7;
    font-size: 1.1em;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 6px #ffffff42, 0 0 10px #ff009982;
    white-space: pre-wrap;
    transition: transform 0.3s ease-in-out;
}

.answer_contaier ul li:hover {
            box-shadow: 0 0 4px #fff, 0 0 13px #f09;
            transform: scale(1.01);
        }

        .correct {
            color: #00ff3c !important;
            font-weight: 600 !important;

        }
    .o{
        font-size: 4vh;
        color: #00ff3c ;
        position: absolute;
        margin-left: 1vh;
    }

    .incorrect {
        color: red !important;
        font-weight: bold !important;
    }

    .x{
        font-size: 5vh;
        color: red ;
        position: absolute;
        margin-top: -2px;
    }


    .btn{
        position:absolute;
        top: 0;
        margin-top: 51vh;
        margin-left: -11vh;
        font-size: 1em;
        padding: 5px;
        background-color: #0000002b;
        color: #fae1ff;
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #89708b;
        transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover {
        box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
        transform: scale(1.05);
    }