/*animation: bodersd 2.5s ease-in-out infinite alternate;*/
@keyframes bodersd {
    0%,100% {
        transform: translate(0,0);
        color: #f09;
    }

    50% {
        color: #f09;
        box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
    }
}

/*    animation: boder1 2.5s ease-in-out infinite alternate;*/
@keyframes boder1 {
    0%,100% {
        transform: translate(0,0);
        color: rgb(159, 44, 124);
    }

    50% {
        color: #f09;
        text-shadow:

            0 0 13px #f09,
            0 0 38px #f09,
            0 0 73px #f09;
    }
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}


    .header h1 {
        color: #333;
        text-align: center;
}

